/*
@styleguide

@title CS2 Custom Grid element
Fancy pancy custom grid whatever

    <div class="cs2">
      <div class="cs2__item">blabla</div>
      <div class="cs2__item">blabla</div>
      <div class="cs2__item">blabla</div>
      <div class="cs2__item">blabla</div>
      <div class="cs2__item">blabla</div>
    </div>

<div class="cs2">
  <div class="cs2__item">blabla</div>
  <div class="cs2__item">blabla</div>
  <div class="cs2__item">blabla</div>
  <div class="cs2__item">blabla</div>
  <div class="cs2__item">blabla</div>
</div>

Small fancy pancy custom Grid whatever example

    <div class="cs2 cs2--small-grid">
      <div class="cs2__item">blabla</div>
      <div class="cs2__item">blabla</div>
      <div class="cs2__item">blabla</div>
      <div class="cs2__item">blabla</div>
      <div class="cs2__item">blabla</div>
    </div>

<div class="cs2 cs2--small-grid">
  <div class="cs2__item">blabla</div>
  <div class="cs2__item">blabla</div>
  <div class="cs2__item">blabla</div>
  <div class="cs2__item">blabla</div>
  <div class="cs2__item">blabla</div>
</div>
*/
.cs2 {
  @include make-row;

  &__item {
    @include make-col-ready;
    @include make-col(12);
    @include make-gutters;
    @include media-breakpoint-up(md) {
      @include make-col(6);
    }
    @include media-breakpoint-up(xl) {
      @include make-col(3);
    }
    background-color: $brand-primary;
    border: solid 1px $white;
    color: $white;
  }

  &--small-grid {
    .cs2__item {
      @include media-breakpoint-up(md) {
        @include make-col(3);
      }
      @include media-breakpoint-up(xl) {
        @include make-col(2);
      }
    }
  }
}
