.main_footer {background-color: #dcdedc;}

.footer-content__title {color: #575756; 
	                   font-size: 26px; 
	                   font-weight: 700;
	                   position: relative;}

.footer-content__title::after {color: #6c757d;
							   font-family: FontAwesome;
	                           font-size: 18px!important;
							   content: "\f107";
							   font-size: .9rem;
							   position: absolute;
							   right: 0;}

.footer-nav {list-style: none;
	         margin: 0;
	         padding: 0}

.footer-nav li a {color: #575756!important; 
	                 font-weight: 400;}

.footer-nav:not(._meta) {display: none;}

.footer-nav._meta {display: -webkit-box;
				   display: -ms-flexbox;
				   display: flex;
				   -webkit-box-orient: horizontal;
				   -webkit-box-direction: normal;
				   -ms-flex-flow: row nowrap;
				   flex-flow: row nowrap;
				   -ms-flex-pack: distribute;
				   justify-content: space-around;
				   margin-bottom: 4rem;
				   margin-top: 1.5rem}

.main_footer_input_style {display: block;
						  width: 100%;
						  height: calc(2.25rem + 2px);
					      padding: 0.375rem 0.75rem;
						  font-size: 1rem;
					      line-height: 1.5;
						  color: #495057;
						  background-color: transparent;
						  background-clip: padding-box;
						  border-top: 0;
						  border-left: 0;
						  border-right: 0;
						  border-bottom: 1px solid #000;
						  transition: border-color 0.15s ease-in-out,
						  box-shadow 0.15s ease-in-out;}

.main_footer_input_style::placeholder {color: #9d9d9c; 
	                                   font-size: 24px;}

.styled-checkbox {position: absolute; 
	             opacity: 0;
       
	   & + label {position: relative; 
				  cursor: pointer; 
				  padding: 0;}
       
	   & + label:before {content: ''; 
					    margin-right: 10px; 
					    margin-top: 5px; 
					    display: inline-block; 
					    vertical-align: text-top; 
					    width: 22px; 
					    height: 22px; 
					    background: $color-white;
	                    border: 1px solid #000; 
		                border-radius: 3px;}
       
	   &:checked + label:before {background: #99013a;}
       
	   &:checked + label:after {content: ''; 
							    position: absolute; 
							    left: 7px; 
							    top: 16px; 
							    background: $color-white; 
							    box-shadow: 2px 0 0 $color-white,
								            4px 0 0 $color-white,
								            4px -2px 0 $color-white,
										    4px -4px 0 $color-white,
								            4px -6px 0 $color-white,
								            4px -8px 0 $color-white; 
							   width: 2px; 
							   height: 2px; 
							   transform: rotate(45deg);}
}

.main_footer_lable_style {color: #575756; 
						  font-size: 24px; 
						  font-weight: 400;}


@media (min-width:992px) {
	
	.footer-nav._meta {-webkit-box-pack: justify;
					   -ms-flex-pack: justify;
					   justify-content: space-between;
					   margin-bottom: 0;
					   margin-top: 4rem;}
	
	.footer-nav:not(._meta) {display: block;}
	
	.footer-content__title::after {content: '';
		                           display: none;}
}

.footer-content__title._no-icon::after {
	content: ''
}

.sub_footer_background_color {background-color: #9d9d9c;}

.sub_footer a {color: $color-white!important; 
	                 padding:0 10px; 
	                 font-size: 20px; 
	                 font-weight: 400;}

@media(max-width:374px){
	
     .footer-content__title {font-size: 20px;}
	
	.footer-nav li a {font-size: 16px!important;}
	
	.main_footer_input_style::placeholder {font-size: 20px;}
	
	.main_footer_lable_style {font-size: 16px;}
	
	.sub_footer a {padding:0 7px; 
	               font-size: 18px;}
}

@media(min-width:375px) and (max-width:575px){

    .footer-content__title {font-size: 20px;}
	
	.footer-nav li a {font-size: 16px!important;}
	
	.main_footer_input_style::placeholder {font-size: 20px;}
	
	.main_footer_lable_style {font-size: 16px;}
}

@media(min-width:576px) and (max-width:767px){

	.footer-content__title {font-size: 22px;}
	
	.footer-nav li a {font-size: 18px!important;}
	
	.main_footer_input_style::placeholder {font-size: 22px;}
	
	.main_footer_lable_style {font-size: 16px;}
}

@media(min-width:768px) and (max-width:991px){
    
	.footer-content__title {font-size: 22px;}
	
	.footer-nav li a {font-size: 18px!important;}
	
	.main_footer_input_style::placeholder {font-size: 22px;}
	
	.main_footer_lable_style {font-size: 18px;}
}

@media(min-width:992px) and (max-width:1199px){
	
	.main_footer_input_style::placeholder {font-size: 22px;}
   
	.footer-content__title {font-size: 22px;}
	
	.footer-nav li a {font-size: 18px!important;}
	
	.main_footer_lable_style {font-size: 16px;}

}


















